{
  "extends": ["stylelint-prettier/recommended", "stylelint-config-prettier"],
  "rules": {
    "color-no-invalid-hex": true,
    "prettier/prettier": [
      true,
      {
        "endOfLine": "auto"
      }
    ]
  }
}
