{
  "extends": ["stylelint-prettier/recommended", "stylelint-config-prettier"],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["tailwind", "apply", "variants", "responsive", "screen"]
      }
    ],
    "color-no-invalid-hex": true,
    "prettier/prettier": [
      true,
      {
        "endOfLine": "auto"
      }
    ]
  }
}
